<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Boot Security: In Memory authentication </title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet" />
        <style>
			.container {
			    position: relative;
			}
			
			.center {
			    position: absolute;
			    left: 0;
			    top: 50%;
			    width: 100%;
			    text-align: center;
			    font-size: 18px;
			}
			
			img { 
			    width: 100%;
			    height: auto;
			    opacity: 0.5;
			}
		</style>
    </head>
    <body >
    
    <div class="container">
	  <img src="/images/bg.jpg"> </img>
	  <div class="center">
					  	<div th:if="${param.error}">
							            Invalid username and password.
						</div>
				        <form th:action="@{/login}" method="post">
				            <div><label> User Name : <input type="text" name="username"/> </label></div>
				            <div><label> Password: <input type="password" name="password"/> </label></div>
				            <div><input type="submit" value="Sign In"/></div>
				        </form>	
	  		</div>
	 </div>
    
    	
    </body>
</html>